{
  "Logging": {
    "LogLevel": {
      "Microsoft": "Information",
      "System": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "TheaterConnectionString": "Data Source=DESKTOP-9H958DD;Database=TheaterDatabase;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;"
  },
  "AuthOption": {
    "ISSUER": "MyAuthServer",
    "AUDIENCE": "http://192.168.103.28:5000/",
    "KEY": "mysupersecret_secretkey!123",
    "LIFETIME": 10
  },
  "AppSettings": {
    "ExpirationTimeInHours": "12"
  }
}