<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TheaterConnectionString"
   connectionString="Server=tcp:theater-schedule-server.database.windows.net,1433;Initial Catalog=theater-schedule-backend-db;Persist Security Info=False;User ID={dbadmin};Password={Lv-375.Net};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
   providerName="System.Data.SqlClient"
/>
  </connectionStrings>
 
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\TheaterSchedule.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>


</configuration>
